.container{
   background-color: yellowgreen;
   width: 500px;
   height: 500px;
   margin: auto;
}

body{
   background-color: white;
   margin: 0px;
}

.header{
   /* width: 500px; */
   background-color: green;
   height: 80px;
}

.icon{
   height: 80px;
   margin: 0px 20px;
   float: left;
}

.web-text{
   margin: 0px;
   height: 80;
   line-height: 60px;
}

.menu{
   height: 40px;
   background-color: red;
}

.menu ul{
   margin: 0px;
   list-style: none;
}

.menu ul li{
   display: inline;
   line-height: 40px;
   margin: 0px 40px;

}

.menu ul li a{
text-decoration: none;
color: white;
font-size: 20px;
}

.menu ul li a:hower{
   color: black;
}

.sidebar{
   float: left;
   height: 300px;
   background-color: aqua;
   width: 20%;
}

.main{
   height: 250px;
   background-color: blue;
}

.footer{
   height: 50px;
   background-color: blue; 
}