.hidden{
    display: none;
}

#quiz-screen{
    display: none;
    margin-left: 10px;
}

#answers{
    display: flex;

    /* Выравниванивает элементы по поперечной оси вертикально /|\   \|/ */
    align-items: start;

    /* Выравниванивает элементы по главной оси горизонтально =>  <= =>
        элементы центрируются по вертикали внутри контейнера */
    justify-content: center;

    /* Меняет направление рассположения элементов
        row = слева направо - горизонтально
        column = сверху вниз - вертикально (как колонка) */
    flex-direction: column;

    margin: 5px;
}